
.gradle/8.10.2/

.gradle/8.11.1/fileHashes/

.gradle/8.11.1/checksums/

.gradle/8.11.1/executionHistory/executionHistory.bin

.gradle/8.11.1/executionHistory/executionHistory.lock

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.gradle/buildOutputCleanup/cache.properties

.gradle/buildOutputCleanup/outputFiles.bin

.gradle/file-system.probe

bin/main/application.properties

bin/main/com/example/demo/SpringBootDemoApplication.kt

bin/test/com/example/demo/SpringBootDemoApplicationTests.kt
